body {
    background-color: #deccff;
    font-family: Arial, sans-serif;
    color: #120033;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.titulo {
    color: #5a00ff;
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #2d007f;
    color: #deccff;
    margin-bottom: 30px;
    border: 2px solid #5a00ff;
}

th, td {
    border: 1px solid #ac7fff;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #5a00ff;
    color: #deccff;
}

a {
    color: #ac7fff; /* Cor clara diferenciada */
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #ffffff; /* Destaque no hover */
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.gallery img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #5a00ff;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(45, 0, 127, 0.9);
    align-items: center;
    justify-content: center;
}

.modal img {
    max-width: 90%;
    max-height: 80%;
    border: 5px solid #ac7fff;
}
